@using EE5207.Project
<div class="legal" ng-controller="app.views.layout.sidebarFooter as vm">
    <div class="copyright">
        &copy; {{vm.currentYear}} <a href="javascript:void(0);">Group 14</a>
    </div>
    <div class="version">
        <b>2019</b>
    </div>
</div>